/ConfigFiles_Transformation/packages
/ConfigFiles_Transformation/WebApplicationExample/bin
/ConfigFiles_Transformation/WebApplicationExample/obj
/ConfigFiles_Transformation/ConsoleAppExample/bin
/ConfigFiles_Transformation/ConsoleAppExample/obj
/ConfigFiles_Transformation/.vs

