<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Prueba-1" value="123456" />
      <add key="Prueba-2" value="qwerty" />
    </appSettings>
    <connectionStrings>
      <add name="bar" connectionString="valueDev"/>
    </connectionStrings>
</configuration>