<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Prueba-3" value="Solo-QA" xdt:Transform="Insert"/>
  </appSettings>
  <connectionStrings>
    <add name="bar" connectionString="valueQA" xdt:Transform="Replace"/>
  </connectionStrings>
</configuration>